<div class="container mt-3">
    <div class="row">
        <div class="col">
        <p class="h3">Add Contacts</p>    
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form >
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name" type="text">                    
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email" type="email">                    
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Phone" type="Number">                    
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Mobile" type="number">                    
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company" type="text">                    
                </div>
                
            </form>

        </div>
    </div>
</div>