<div class="card-box">
    <div class="row">
        <div class="col-sm-4" style="text-align: center;display: block;">
            <p class="h2 text-danger fw-bold">Kişiler</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="table-responsive">

            <table class="table table-bordered" id="datatable" role="grid">
                <thead class="bg-primary text-white">
                    <tr role="row">
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary">Düzenle</button> | <button
                                class="btn btn-danger">Sil</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>